/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #8f8f8f;
    color: #bd98df;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2em 0;
    background-color: white;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#image-input {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 2px solid #c59bda;
    border-radius: 5px;
}

button {
    background-color: #b09dd6;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b19ada;
}

.delete-btn {
    background-color: transparent;
    color: rgb(236, 174, 174);
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    color: darkred;
}

#gallery {
    columns: 4;
}

#gallery img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#gallery img:hover {
    transform: scale(1.05);
}