<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Image Gallery</h1>
    </header>
    <main>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" id="image-input" name="file" accept="image/*" multiple>
            <button type="submit">Upload</button>
        </form>
        <section id="gallery">
            <!-- Качените изображения ще се показват тук -->
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
