{% extends "base.html" %} {% block title %}board{% endblock %}

{% block content %}

<div class="container p-4 border rounded">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" id="list" href="/list">To do list</a>
            <a class="nav-item nav-link" id="board" href="/">Board</a>
          </div>
        </div>
    </nav>

    <h1 align="center">Board</h1>
<p>Welcome to board.</p>
</div>


{% endblock %}
